@model UserModel

@{
    ViewData["Title"] = "DepositCrypto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modificar {
   color: #000;
   text-decoration: none;
}

.card-footer:hover{
    background: #c59d5f;
    transition: all .5s
}

.modificar:hover{
    color:#000 !important;
}

</style>

<h6>
    Copia tu uuid para ingresar o transferir dinero desde otra cuenta.
</h6>

<div class="d-flex justify-content-center flex-column align-items-center" style="margin-top: 1rem;">

<div class="card" style="margin: 0!important; width: 45rem !important;">
  <div class="card-body" style="padding: 2rem;">
    <p style="margin: 0; text-align:left;">UUID</p>
    <p style="text-align:left; margin:0;">@Model.AccountCryptocurrencyModel.UUID</p>
  </div>
</div>
</div>
