@model TransferModel

@{
    ViewData["Title"] = "Transferencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modificar {
   color: #000;
   text-decoration: none;
}

.card-footer:hover{
    background: #c59d5f;
    transition: all .5s
}

.modificar:hover{
    color:#000 !important;
}

.form-control:focus {
        border-color: #c59d5f;
        box-shadow: none !important;
    } 


.bt{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 17px;
    margin-top: 1rem;
    margin-right: 10.1rem;
}

 .a:hover{
   background: #c59d5f !important;
   color: #fff;
   transition: all .5s;
   border: 1px solid #f6f5f7 !important;
}

   .btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

        .submit  {
        background: #d8c3a2;
        padding: 5px;
        border-radius: 5px;
        color: #000;
        font-size: 15px;
        font-weight: 300;
        border: none;
        width: 130px;
        text-align: center;
        margin-top: 17px;
    }
    </style>


    
@if (@ViewBag.msg != null){
            <div style="background:#fabfb7; padding: 15px;">
            @ViewBag.msg
        </div>
    }

<h6>
        Agregar una cuenta
</h6>

        <form asp-action="TransferPeso" asp.controller="Operation" method="post">
<div class="d-flex justify-content-center flex-column align-items-center" style="margin-top: 1.6rem;">

<div class="card" style="margin: 0!important; width: 45rem !important;">
  <div class="card-body" style="padding: 2rem;">
  <div class="form-row">
    <div class="col">
       <label>Ingresá el CBU</label>
     
       <input asp-for="CBU" type="text" class="form-control">
       <label style="margin-top: 2rem;">Ingresá la cantidad a transferir</label>

       <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input asp-for="Amount" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
    </div>
  </div>
  </div>
</div>

 <div class="btn">
 <button type="submit" class="submit">Transferir</button>
 </div>

    @*<div class="button bt">
        <a type="submit" class="a" style="border: 1px solid #000; background: #fff;">Transferir</a>
        </div>
*@
</form>