
@{
    ViewData["Title"] = "Inversiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="card" style="width: 58rem !important; margin-left: 3.1rem !important; margin-top: 11rem !important;">
  <div class="card-body">
    <div class="container">
        <div class="currency">
        <select id="currency-one">
          <option value="ARS" selected>ARS</option>
        </select>
        <input type="number" id="amount-one" placeholder="0" value="1" />
      </div>

      
      <div class="swap-rate-container">
        <button class="btn" id="swap"></button>
        <div class="rate" id="rate"></div>
      </div>


         <div class="currency">
        <select id="currency-two">
          <option value="USD" selected>USD</option>
        </select>
        <input type="number" id="amount-two" placeholder="0" />
      </div>

        <div class="swap-rate-container">
        <button class="btn" id="swap1"></button>
        <div class="rate" id="rate1"></div>
      </div>


     <div class="currency">
        <select id="currency-three">
          <option value="BTC" selected>Bitcoin</option>
          <option value="ETH">Ethereum</option>
          <option value="XRP">XRP</option>
          <option value="USDT">Tether</option>
          <option value="LINK">Chainlink</option>
          <option value="HMR">Homeros</option>
          <option value="BCH">Bitcoin Cash</option>
          <option value="TITAN">TitanSwap</option>
          <option value="HEX">HEX</option>
          <option value="CRO">Crypto.com Coin</option>
      </select>
        <input type="number" id="amount-three" placeholder="0" />
      </div>
    </div>
  </div>
</div>



<script>
    const currencyEl_one = document.getElementById('currency-one');
const currencyEl_two = document.getElementById('currency-two');
const currencyEl_three = document.getElementById('currency-three');

const amountEl_one = document.getElementById('amount-one');
const amountEl_two = document.getElementById('amount-two');
const amountEl_three = document.getElementById('amount-three');

const rateEl = document.getElementById('rate');
const swap = document.getElementById('swap');

const rateEl1 = document.getElementById('rate1');
const swap1 = document.getElementById('swap1');

var rate;

// Fetch exchange rates and update the dome
function calculate() {
    const currency_one = currencyEl_one.value;
    const currency_two = currencyEl_two.value;

    fetch(`https://v6.exchangerate-api.com/v6/24c4dd304655d508d5c23614/latest/${currency_one}`)
        .then((res) => res.json())
        .then((data) => {
            //   console.log(data);
            rate = data.conversion_rates[currency_two];
            rateEl.innerText = `1 ${currency_one} = ${rate} ${currency_two}`;

            amountEl_two.value = (amountEl_one.value * rate).toFixed(2);
        });
}

// Event Listeners
currencyEl_one.addEventListener('change', calculate);
amountEl_one.addEventListener('input', calculate);
currencyEl_two.addEventListener('change', calculate);
amountEl_two.addEventListener('input', calculate);
swap.addEventListener('click', () => {
    const temp = currencyEl_one.value;
    currencyEl_one.value = currencyEl_two.value;
    currencyEl_two.value = temp;
    calculate();
});

calculate();



// Fetch exchange rates and update the dome
function calculate1() {
    const currency_two = currencyEl_two.value;
    const currency_three = currencyEl_three.value;

    fetch(
        `https://min-api.cryptocompare.com/data/pricemultifull?fsyms=${currency_three}&tsyms=${currency_two}`)
        .then((res) => res.json())
        .then((data) => {

            var result = `${data.DISPLAY[currency_three][currency_two].PRICE}`;

             const newStr = result.slice(2)

            let replaced1 = newStr.replaceAll(',', '.');

            var ho = parseFloat(replaced1);

            rateEl1.innerHTML = `<span class="symbol">1 USD = ${1 / ho} ${currency_three}</span>`;


            amountEl_three.value = (amountEl_one.value * `${[rate]/ho}`);
        });
}

// Event Listeners
currencyEl_one.addEventListener('change', calculate1);
amountEl_one.addEventListener('input', calculate1);
currencyEl_two.addEventListener('change', calculate1);
amountEl_two.addEventListener('input', calculate1);
currencyEl_three.addEventListener('change', calculate1);
amountEl_three.addEventListener('input', calculate1);
swap1.addEventListener('click', () => {
    const temp = currencyEl_three.value;
    currencyEl_three.value = currencyEl_two.value;
    currencyEl_tww.value = temp;
    calculate1();
});

calculate1();
</script>