@model UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="card">
    <h5 class="card-header">Inicar session</h5>
      <div class="card-body">
        <form asp-action="Login" asp.controller="Login" method="post">
                  <div class="mb-3">
                        <label class="form-label">Email: </label>
                        <input asp-for="Email" type="email" class="form-control">

                        <span asp-validation-for="Email" class="text-danger"></span>

                          <label class="form-label">Contraseña: </label>
                         <input asp-for="Password" type="password" class="form-control">

                          <span asp-validation-for="Password" class="text-danger"></span>
                     </div>

              <button type="submit" class="btn btn-primary">Guardar</button>
              <a asp-action="Register" asp.controller="Login" class="btn btn-warning">Registrarse</a>
        </form>
     </div>
</div>
</body>
</html>
