@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="icon" href="https://i.imgur.com/A75CeRH.png">
     <title>
         @ViewData["Title"] 
     </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CryptoCurrencyMVC.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/dcfddf5262.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<body>

    <div id="menu-bars" class="fas fa-bars"></div>
    
<!-- header section starts  -->


    <header>

            <h6 class="d-flex align-items-center">
            <i class="bi bi-person-circle" style="font-size: 22px; margin-right: 9px;"></i>Bienvenido, @HttpContextAccessor.HttpContext.Session.GetString("name")
            </h6>

        <nav class="navbar">

            <div style="display: flex; flex-direction: column; border-bottom: 1px solid #fff;width: 100%; text-align: left; margin-top:1rem;">
            <i class="bi bi-house" >
                    <a asp-area="" asp-controller="Home" asp-action="Index">Inicio </a>
            </i>
                   
                     <i class="bi bi-person">
                    <a  asp-area="" asp-controller="Profile" asp-action="Profile">Tu perfil </a>
                    </i>
            </div>

            <div style="display: flex; flex-direction: column; border-bottom: 1px solid #fff;width: 100%; text-align: left; margin-top:1rem;">

                    <i class="bi bi-currency-bitcoin">
                    <a  asp-area="" asp-controller="Cryptocurrency" asp-action="List">Criptomonedas</a>
                    </i>

                    <i class="bi bi-clipboard-data">
                    <a  asp-area="" asp-controller="Cryptocurrency" asp-action="Buy">Inversiones</a>
                    </i>
                   
                     <i class="bi bi-cash">
                    <a asp-area="" asp-controller="Cryptocurrency" asp-action="SellPeso">Pesos</a>
                    </i>
                 
                      <i class="bi bi-currency-dollar">
                    <a asp-area="" asp-controller="Cryptocurrency" asp-action="SellDollar" style="position: relative; right: 6px;">Dolares</a>
                    </i>

                     <i class="bi bi-clipboard2">
                    <a asp-area="" asp-controller="History" asp-action="History">Actividad </a>
                    </i>

             </div>


                    <i class="bi bi-box-arrow-right" style="margin-top: 1rem;">
                         <a asp-area="" asp-controller="Login" asp-action="Logout">Salir </a>
                    </i>
        </nav>

    </header>

        
    <div class="main">
            <div class="topbar">
                   @ViewData["Title"] 
            </div>
        </div>


    <div class="section">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
