
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Datos de cuenta</h5>

<section class="container">
    <div class="row justify-content-sm-around">
            <div class="col-md-6">
                <div class="card text-left">
              <div class="card-body">
                

                </div>
      </div>
    </div>

    <h5>Datos personales</h5>

     <div class="col-md-6">
             <div class="card text-left">
              <div class="card-body body">
              </div>
            </div>
            </div>
     </div>

</section>
